.app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-left: 150px;
}

.main-content-hero {
    font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
  font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 80%;
    margin-top: 30px;
    border-top: 10px inset var(--main-accent);
}



.typewriter h1, h2.animate {
    font-family: Kode Mono;
    overflow: hidden;
    border-right: .40em solid var(--main-accent); 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .typewriter h2.animate {
    font-family: Kode Mono;
    overflow: hidden;
    border-right: .40em solid var(--main-accent); 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; max-width: 0; }
    to { width: 100%; max-width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main-accent); }
  }



  .arrow {
    border: solid var(--main-accent);
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 8px solid var(--main-accent);
    color: var(--main-accent);
    margin: 10px;
  }

  .skills-container p {
    margin: 0px;
    transition: 1s ease;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .skills-container > .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 30px;
  }

  .skills-container img {
    height: 100px;
    margin: 10px;
    transition: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  }

  .skill:hover > img {
    height: 130px;
    transition: 2s;
    transition-timing-function: ease;
    transition-delay: 0;
  }

  .skill:hover > p {
    font-size: 120%;
    transition: 2s;
    transition-timing-function: ease;
    transition-delay: 0;
    border: 2px solid var(--main-accent);
  }


.project-container {
  border: 3px solid var(--main-accent);
  padding: 25px;
  color: var(--main-accent);
  margin-top: 10px;
  text-align: center;
}

.project-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  color: var(--main-accent);
  text-align: left;

}

/* @media (max-width: 900px){
  .project-container {
    flex-direction: column;
    align-items: center;
  }
} */

.project-img {

  height: 500px;
  width: 900px;
  margin: 10px
}

.project-container h3 {
  font-size: 40px;
  margin: 10px;
}

.sender-details {
  display: flex;
  flex-direction: row;
}


.message-details {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input, textarea {
  font-family: Kode Mono;
  resize: none;
  color: white;
  font-size: 30px;
  margin: 5px;
  border: 2px solid var(--main-accent);
  background-color: var(--main-color) ;
  box-shadow: 10px 10px 20px 10px black;
}


.message-body {
  width: auto;
  height: 250px;
}



