.app-container {
    display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-left: 150px;
}

.main-content-hero {
    font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-content {
  font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 80%;
    border-top: 10px inset var(--main-accent);
}



.typewriter h1, h2.animate {
    font-family: Kode Mono;
    overflow: hidden;
    border-right: .40em solid var(--main-accent); 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  .typewriter h2.animate {
    font-family: Kode Mono;
    overflow: hidden;
    border-right: .40em solid var(--main-accent); 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; max-width: 0; }
    to { width: 100%; max-width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main-accent); }
  }



  .arrow {
    border: solid var(--main-accent);
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 20px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }