:root {
  --main-accent: rgb(27, 146, 27);
  --main-color: rgb(24, 24, 24)
}

@font-face {
  font-family: Kode Mono;
  src: url(../src/fonts/KodeMono-VariableFont_wght.ttf);
}

body {
  background-color: var(--main-color);
}

h1 {
  color: var(--main-accent);
  font-size: 5.2em;
  line-height: 1.1;
}

h2 {
  color: var(--main-accent);
  font-size: 2em;
  text-decoration: 10px underline;
}

.my-name {
  color: white;
  text-decoration: underline;
}

.hero-elements, .about-me-elements, .skillset-elements, .contact-elements, .projects-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.about-me-elements h3 {
  font-size: 30px;
  text-decoration: underline;
  color: white;
}

.about-me-elements li {
  color: white;
  margin-top: 10px;
}

.hero-text {
  color: var(--main-accent);
  font-size: 30.5px;
  padding-right: 20px;
}

.about-me-text, .skillset-text, .contact-text, .projects-text {
  color: var(--main-accent);
  font-size: 20.5px;
  padding-right: 20px;
  text-align: center;
}

.about-me-text {
  font-size: 25px;
  color: white;
  text-shadow: 2px 3px black;
}

.cv-btn {
  transition: all 1s ease;
  font-family: Kode Mono;
  font-size: 50px;
  margin: 0;
  border: 2px solid transparent;
  color: var(--main-accent);
  background-color: #333;
  margin-top: 5%;
}


.cv-btn:hover {
  border: 2px solid var(--main-accent);
  cursor: pointer;
  box-shadow: 0px 0px 30px 10px black;
}

.cv-btn.error {
  animation: horizontal-shaking 0.3s;
  animation-iteration-count: 1;
  border: 2px solid red;
  color: red;
}

.cv-btn.sending {
  border: none;
  color: black;
  box-shadow: none;
  cursor: default;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

.hero-pic {
  height: 300px;
  border: 5px solid var(--main-accent);
  border-radius: 150px;
  box-shadow: 5px 0px 30px 0px black;
}




/* Add any additional styling for the sections if needed */

