:root {
  --main-accent: rgb(27, 146, 27);
}

@font-face {
  font-family: Kode Mono;
  src: url(../src/fonts/KodeMono-VariableFont_wght.ttf);
}




body {
  background-color: rgb(24, 24, 24);
}

h1 {
  color: rgb(27, 146, 27);
  font-size: 3.2em;
  line-height: 1.1;
}

